@import "./variables.scss";

.font-light {
  font-weight: 200;
}

.font-regular {
  font-weight: 400;
}

.font-bold {
  font-weight: 700;
}

.cursor-pointer {
  cursor: pointer;
}

.text-light-green {
  color: $light-green;
}

.text-dark-green {
  color: $dark-green;
}

body {
  background: linear-gradient($light-green, $dark-green);
  // background: linear-gradient($light-green-darkened, $dark-green-darkened);
  background-repeat: no-repeat;
  margin: 0;
  font-family: "Montserrat";
  &.dark {
    background: linear-gradient($light-green-darkened, $dark-green-darkened);
  }
}

a {
  text-decoration: none;
}

%white-cont {
  background-color: white;
  // background-color: rgba(0, 0, 0, 0.6);
  opacity: 0.9;
  border-radius: 30px;
  .dark & {
    background-color: rgba(0, 0, 0, 0.6);
  }
}
